.nav {
  align-items: flex-start;
  background-color: var(--navbar-dark);
  border: 1px solid;
  border-color: var(--navbar-border);
  border-radius: 24px;
  display: inline-flex;
  gap: 8px;
  padding: 8px;
  position: relative;
}

.nav .element {
  align-items: center;
  background-color: var(--navbar-light);
  border-radius: 18px;
  display: inline-flex;
  flex: 0 0 auto;
  gap: 12px;
  justify-content: center;
  overflow: hidden;
  padding: 8px 24px;
  position: relative;
  cursor: pointer;
}

.nav .text-wrapper {
  color: white;
  font-family: "Nunito", Helvetica;
  font-size: 14px;
  font-weight: 400;
  letter-spacing: 0.56px;
  line-height: 18px;
  position: relative;
  text-align: center;
  white-space: nowrap;
  width: fit-content;
}

.nav .div-wrapper {
  align-items: center;
  border-radius: 18px;
  display: inline-flex;
  flex: 0 0 auto;
  gap: 12px;
  justify-content: center;
  overflow: hidden;
  padding: 8px 24px;
  position: relative;
  cursor: pointer;
}